<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photograp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4820142E1C9ADD5C0009CD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482014471C9ADD5D0009CD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482014521C9ADD5D0009CD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
